/* wildcard + html tags */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
}

.particles-js-canvas-el {
  z-index: -1;
}

nav {
  margin-bottom: 3%;
}

header {
  font-family: "Changa", sans-serif;
  position: relative;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}

a {
  font-family: "Comic Sans", sans-serif;
}
header h1 {
  font-weight: 900;
  font-size: 5rem;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-bottom: 40%;
  transform: translate(-50%);
  display: inline-block;
}

/* header h2 {
  font-weight: 900;
  position: absolute;
  top: 95%;
  left: 50%;
  padding: 10%;
  transform: translate(-50%);

  display: inline-block;
} */

h1 {
  /* padding: 2s0%; */
  font-size: 8rem;
  font-weight: 700;
  padding: 0;
}
h2 {
  padding: auto 0 auto 0;
}
h3 {
  font-weight: 800;
}
hr {
  border-top: 9px dotted grey;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  width: 70%;
  margin: auto;
  background-color: white;
  justify-content: center;
}

/* classes */
.main {
  position: relative;
  background: rgb(255, 252, 246);
  /* height: 50%; */
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 100px;
  margin-top: 3%;
}

.container {
  display: grid;
  /* width: 75%; */
  /* background: white; */
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .container h1,
h2 {
  padding: 10% 0 10% 0;
} */

.created-projects {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.certificates {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.6;
}
.certificates p {
  width: 50%;
  /* margin: 100px auto; */
  text-align: left;
  line-height: 1.6;
  font-size: 1.3rem;
}
.hint {
  margin-top: -5rem;
}
.left-align-img {
  margin: auto 30px auto auto;
  width: 25%;
  float: left;
}

.right-align-img {
  margin: auto auto auto 30px;
  width: 25%;
  float: right;
}
.list-imgs {
  width: 10%;
  height: 10%;
}
.zoom {
  display: flex;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.skills {
  list-style-type: none;
}
.skill-list {
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
/* ids */
#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

/* media querries */

@media only screen and (min-width: 279px) and (max-width: 319px) {
  /* header {
    font-size: 0.3rem;
    margin-bottom: 0.5rem;
  } */
  .dd-size {
    font-size: 3.4rem;
  }
  .container {
    background: rgb(255, 252, 246);
    border-radius: 10px;
  }
  h1,
  h2,
  h5 {
    font-size: 0.78rem;
    /* background-color: white; */
    /* background: turquoise; */
  }
}

@media only screen and (min-width: 320px) and (max-width: 539px) {
  /* header {
    font-size: 0.3rem;
    margin-bottom: 2rem;
  } */
  .dd-size {
    font-size: 4rem;
  }
  .container {
    background: rgb(255, 252, 246);
    border-radius: 10px;
  }
  h1,
  h2,
  h5 {
    font-size: 0.9rem;
    /* background-color: white; */
    /* background: turquoise; */
  }
}

@media only screen and (min-width: 540px) and (max-width: 549px) {
  /* header {
    font-size: 0.75rem;
    margin-bottom: 2rem;
  } */
  .dd-size {
    font-size: 1.6rem;
  }
  .container {
    background: rgb(255, 252, 246);
    border-radius: 10px;
  }
  h1,
  h2,
  h5 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 550px) {
  /* header {
    font-size: 0.75rem;
    margin-bottom: 2rem;
  } */

  .container {
    background: rgb(255, 252, 246);
    border-radius: 10px;
  }
  h1,
  h2,
  h5 {
    font-size: 1.5rem;
  }
}
